//- layout.pug
doctype html
html
  head
    title Moin Dance Academy
    block scripts
    block style 
  body
    nav#navbar
      ul
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/services") Services ]
        li #[a(href="/classInfo") Class Info]
        li #[a(href="/contact") Contact us]
    block content
    footer#footer
        div Copyright © 2023
        div Allrights Reserved ® 2023
        div moindanceacademy.com